<div class="row">
<mat-card class="pokemon-card col-md-3" *ngFor="let pokemon of pokemons">
    <mat-card-header>
        <mat-card-title>{{pokemon.name}}</mat-card-title>
        <mat-card-subtitle>{{pokemon.generation}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="pokemon.image" alt="Pokemon img">
    <mat-card-content>
        <p>
            {{pokemon.name}} es un pokemon color {{pokemon.color}}, tiene la forma de {{pokemon.shape}} y vive en {{pokemon.habitat}}.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button extended class="favorite" (click)="openSnackBar('Pokemon agregado a favoritos')" (click)="addPokemonToFavourites(pokemon)">
            <mat-icon>favorite</mat-icon>
            Favoritos
        </button>
        <button mat-button extended class="add" routerLink="/adopt-form">
            <mat-icon>add</mat-icon>
            Adoptar
        </button>
    </mat-card-actions>
</mat-card>
</div>