.favorites-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
}
.favorites-container h1{
    font-family:'Lexend';
    font-weight: 500;
    font-size: 2.5em;
    margin-top: 1.5em;
    color: #4A6163;
}
.favorites-container p{
    font-family:'Lexend';
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 0.5em;
    color: #4A6163;
}