<mat-grid-list cols="2" rowHeight="58em" class="container">
    <mat-grid-tile class="slide-from-left">
        <img class="home-pokemon" src="../../../assets/images/logo-header.png" alt="Pokemon" width="600" height="600"/>
    </mat-grid-tile>
    <mat-grid-tile class="slide-from-right">
    <div class="home-info">
        <h1>¡Bienvenido a PokeAdopta!</h1>
        <p>Descubre una variedad de adorables Pokemones en busca de un hogar amoroso y aventuras llenas de diversión.<br><br>  
        Cada Pokemon tiene su propia historia y personalidad única, listo para embarcarse en una nueva vida a tu lado. 
        Encuentra el compañero perfecto para ti y forja un vínculo inquebrantable mientras exploras el emocionante mundo Pokemon juntos.<br><br>¿Estás listo para abrir tu corazón y darle a un Pokémon la oportunidad de ser parte de tu familia? 
        ¡Adopta un Pokemon en PokeAdopta hoy mismo y comienza una aventura llena de amor y amistad!
        </p>
        <button mat-button routerLink="/in-adoption">Empezar</button>
    </div>
    </mat-grid-tile>
</mat-grid-list>